<table>
    <tr><td><%= Signup.human_attribute_name('name') %>:</td><td> <%= @signup.name %></td></tr>
    <tr><td><%= Signup.human_attribute_name('email') %>:</td><td> <%= @signup.email %></td></tr>
    <tr><td><%= Signup.human_attribute_name('age') %>:</td><td> <%= @signup.age %></td></tr>
    <tr><td><%= Signup.human_attribute_name('expect') %>:</td><td> <%= @signup.expect.text %></td></tr>
    <tr><td><%= Signup.human_attribute_name('activity') %>:</td><td> <%= @signup.activity.text %></td></tr>
    <tr><td><%= Signup.human_attribute_name('source') %>:</td><td> <%= @signup.source.text %></td></tr>
    <tr><td><%= Signup.human_attribute_name('languages') %>:</td><td></td></tr>
    <tr><td><%= Signup.human_attribute_name('why') %>:</td><td> <%= @signup.why %></td></tr>
    <tr><td><%= Signup.human_attribute_name('places') %>:</td><td> <%= @signup.places %></td></tr>
    <tr><td><%= Signup.human_attribute_name('created_at') %>:</td><td> <%= @signup.created_at %></td></tr>
</table>

