<h1><%= t('walk_mailer.inform.new_request')%></h1>
<table>
    <tr><td><%= Walk.human_attribute_name('name') %></td><td><%= @walk.name %></td></tr>
    <tr><td><%= Walk.human_attribute_name('email') %></td><td><%= @walk.email %></td></tr>
    <tr><td><%= Walk.human_attribute_name('dates') %></td><td><%= @walk.dates %></td></tr>
    <tr><td><%= Walk.human_attribute_name('languages') %></td><td><%= @walk.languages %></td></tr>
    <tr><td><%= Walk.human_attribute_name('user_lang') %></td><td><%= @walk.user_lang %></td></tr>
</table>
<h1><%= t('walk_mailer.inform.info')%></h1>