<table><thead><td colspan=2><strong><%=I18n.t('hipchat_job.new_walk')%></strong></td></thead>
    <tr>
      <td><%=Walk.human_attribute_name('name')%></td><td><%=@walk.name%></td>
      </tr>
    <tr>
      <td><%=Walk.human_attribute_name('email')%></td><td><%=@walk.email%></td>
      </tr>
    <tr>
      <td><%=Walk.human_attribute_name('dates')%></td>
      <td>
        <table>
          <thead><td>Date</td><td>From</td><td>To</td><thead>
            <% @walk.dates.each do |date_choosen| %>
            <tr><td><%= date_choosen['date'] %></td><td><%= date_choosen['from'] %></td><td><%= date_choosen['to'] %></td></tr>
            <% end %>
        </table>

      </td>
    </tr>
    <tr>
      <td><%=Walk.human_attribute_name('languages')%></td><td>
        <table>
          <thead><td>Language</td><td>Level</td><thead>
            <% @walk.languages.each do |lang| %>
            <tr><td><%= lang['language'] %></td><td><%= lang['level'] %></td></tr>
            <% end %>
        </table>
      </td>
      </tr>
    <tr>
      <td><%=Walk.human_attribute_name('user_lang')%></td><td><%=I18n.t("langs.#{@walk.user_lang}")%></td>
      </tr>
    <tr>
        <td colspan="2"><%=link_to Walk.human_attribute_name('trello_url'), @walk.trello_url %></td>
    </tr>
    <tr>
      <td><%=Walk.human_attribute_name('created_at')%></td><td><%= l @walk.created_at%></td>
      </tr>
</table>
